h1 {
    color:red
}

body { background-color:darkblue;}
body h1{text-align: center}
body p{text-align: center}
body a{text-decoration: none;}
body li{text-align: left;}
body dt{text-align: right;}
body h1{font-family:Arial, Helvetica, sans-serif;}
body p{font-family:Arial, Helvetica, sans-serif;}
a{
    text-align: center;
    display: block;

}
img{
    border: 10px solid black;
    animation: my-animation 3s infinite;
    }
    
    @keyframes my-animation {
    0% {
    border-color: rgb(59, 38, 179);
    }
    50% {
    border-color: red;
    }
    100% {
    border-color: rgb(40, 158, 11);
    }
    }
iframe{
    text-align: center;
    margin: auto;
    display: block;
    }
iframe{
    border: 10px solid black;
    animation: my-animation 3s infinite;
    }
        
    @keyframes my-animation {
    0% {
    border-color: rgb(59, 38, 179);
    }
    50% {
    border-color: red;
    }
    100% {
    border-color: rgb(40, 158, 11);
    }
    }
