div{
    background-color: #000000;
    padding: 50px;
    width: 930px;
    margin: 0 auto;
    border-top: 20px solid #ff0000;
    text-align: center;
    border-right: 20px solid black;
    border-left: 20px solid black;

    }
p{font-size: 20px; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: white;}
h1{font-size: 50px; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: white;}

h3{font-size: 30px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: white;}
body {
    background-image: url('../img/tela\ preta.webp');
    background-attachment: fixed;
    
}
img{
    height: 500px;
}


a{text-align: right;
display: block;}
.botao{
    border: solid 1px #ffffff;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color:#000000;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    align-items:center;
    width: 5%;
    height: 30px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: rgb(0, 0, 0);
    }
.botao:hover{
    background-color: #ff0800;
    color: rgb(0, 0, 0);
    transform: scale(1.2)
    }